<a routerLink="">Home</a>
<table border="1px" style="width: 7px">
  <tr align="middle">Reading List</tr>
  <tr *ngFor="let book of bookList; index as i" [class.completed]="book.read">
    <td *ngIf="book.read">{{book.name}}</td>
    <td *ngIf="book.read"><button (click)="read(i)">Complete</button></td>
  </tr>
  <tr>
    <td><input type="text" [formControl]="inputControl"></td>
    <td><button (click)="addBook()">Add new book</button></td>
  </tr>
</table>
<a routerLink="/read-books">Completed reading list</a>


